body {
    background-color: #efefef;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.main {
    background-color: white;
    margin: 30px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin: auto;
}

.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.comment {
    margin: 10px 0;
}

.comment-btn {
    float: right;
    margin-bottom: 10px;
}

.comments {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 20px;
    cursor: pointer;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.question-title {
    margin-top: 25px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    padding-left: 0;
    font-size: 12px;
    line-height: 20px;
}

.question-wechat {
    width: 100%;

}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    margin: 5px 5px;
    white-space: normal;
    display: inline-block;
}

.footer {
    padding: 10px 35%;
    color: #666;
}